<div class="row justify-content-center p-0 m-0 bg-light">
    <div class="col-auto p-0">
        <svg width="550" height="400" id="users">
        </svg>
    </div>
    <div class="col-auto" id="user-display">
        <a href={{User.html_url}} target="_blank">
            <img src={{avatar_url}} height="100px" width="auto" alt="avatar" id="avatar">
        </a>
        <h3>{{User.login}}</h3>
        <hr>
        <ul class="list-unstyled">
            <li>Pulls: <b>{{User.pullCount}}</b></li>
            <li>Issues: <b>{{User.issueCount}}</b></li>
            <li>Assigned: <b>{{User.assignedCount}}</b></li>
        </ul>
    </div>
</div>