<div class="main">
    <div class="wrapper row d-flex justify-content-center">
        <div class="info-box col-md-5 col align-self-md-center align-self-start">
            <div *ngIf="content === 'about'">
                <h1>About</h1>
                <article>
                    <p>My name is Brennan and this is my site.
                        I work on all kinds of different projects and like to learn new tech and languages so I can
                        create
                        awesome
                        things. I'll work on anything that interests me... web-backend, web-frontend, devops, analytics,
                        whatever.
                        Some of my work is indexed in the projects section. I started coding in 2018 and haven't looked
                        back
                        since.
                        The pup on the front page is my dog Rey and we live in the beautiful state of Vermont right next
                        to
                        Lake
                        Champlain.
                    </p>
                    <p>
                        Questions, comments, spam &rarr; <em><a
                                href="mailto: bugbeeb@gmail.com">bugbeeb@gmail.com</a></em>
                    </p>

                </article>
            </div>
            <div *ngIf="content === 'projects'">
                <h1>Projects</h1>
                <article style="text-align: left">
                    <dl>
                        <dt>
                            <a [routerLink]="'/projects/github'">Github api data visualizations</a>
                        </dt>
                        <dd>
                            This service allows a user to search for a github repository and explore
                            interactive visualizations of that repo's data.
                            I created this service in order to learn rxjs, angular's http client, and d3.
                            It works by targeting github's api servers then filterting and preparing the json to be
                            presented and saved in the browser for later viewing without having to resend http requests
                            to github. Subsequent searches utilize certain http headers like ETAG to optimize
                            performance and reduce traffic.
                        </dd>
                        <dt>
                            <a href="https://games.brennanbugbee.com" target="blank_">Games Site</a>
                        </dt>
                        <dd>
                            This is a subdomain that runs a website focused on multiplayer html games along with
                            customizable user accounts.
                            This site was my first experience with ASP.NET and C# which I enjoy very much.
                            It utilizes a few different .NET core libraries like Entity Framework and SignalR, both of
                            which are fantastic,
                            but I have decided to swap out the front-end from Razor Pages to Angular at some point in
                            the future because Razor Pages is pretty underwhelming.
                        </dd>
                        <dt>
                            <a [routerLink]="'/projects/cockpit'">SVG Fighter Cockpit</a>
                        </dt>
                        <dd>
                            I've always loved creating svg artwork but combining it with html has been a profoundly fun
                            experience.
                            This design is an interative and animated fighter jet cockpit but it's a huge svg file so it
                            may take a bit to load.
                        </dd>
                    </dl>
                </article>
            </div>
        </div>
        <div class="flex-column col-md-7 col-12 align-self-stretch" id="knight">
        </div>
    </div>
</div>