svg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#2b58ed, #a0cddb)
}
.svg-container{
    height: 100%;
    width: 100%;
}
#clouds g{
    transform-origin: center;
}
//display on left panel
#g2386{

}
