<div class="row">
    <div id="slideshow" class="col-auto">

        <div class="slide">
            A
        </div>
        <div class="slide">
            B
        </div>
        <div class="slide">
            C
        </div>
        <div class="slide">
            D
        </div>
    </div>
    <div id="sliders" class="col-auto">
        <table class="slider-table">
            <tbody>
                <tr>
                    <td>EllipseX</td>
                    <td>EllipseY</td>
                    <td>Left Pad</td>
                    <td>Top Pad</td>
                    <td>Depth</td>
                </tr>
                <tr>
                    <td>
                        <span id="ellipseX-value">0</span>
                    </td>
                    <td>
                        <span id="ellipseY-value">0</span>
                    </td>
                    <td>
                        <span id="leftPad-value">0</span>
                    </td>
                    <td>
                        <span id="topPad-value">0</span>
                    </td>
                    <td>
                        <span id="depth-value">0</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="ellipseX" class="slider" data-target="#ellipseX-value"></div>
                    </td>
                    <td>
                        <div id="ellipseY" class="slider" data-target="#ellipseY-value"></div>
                    </td>
                    <td>
                        <div id="leftPad" class="slider" data-target="#leftPad-value"></div>
                    </td>
                    <td>
                        <div id="topPad" class="slider" data-target="#topPad-value"></div>
                    </td>
                    <td>
                        <div id="depth" class="slider" data-target="#depth-value"></div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>