<nav id="nav-header" [ngClass]="{'open-nav': this.isOpen, 'closed-nav': !this.isOpen}">
    <a href="http://brennanbugbee.com">Home Site</a>
    <a href="http://games.brennanbugbee.com">Games</a>
    <a href="http://github.com/phantomcosmonaut">Games</a>
</nav>
<div id="header-wrapper" (click)="toggle(false)"
    [ngClass]="{'open-border': this.isOpen, 'closed-border': !this.isOpen}">
    <div id="nav-border">
    </div>
    <div id="header-pulldown">
        <div class="trapezoid">
        </div>
        <div id="tagline">
            <span>Explore</span>
        </div>
    </div>
</div>
<div (click)="toggle(true)">
    <router-outlet></router-outlet>
</div>