<nav id="nav-header" [ngClass]="{'open-nav': this.isOpen, 'closed-nav': !this.isOpen}">
    <a [routerLink]="'/'">Home</a>
    <span>|</span>
    <a [routerLink]="'/about'" [queryParams]="{'content': 'projects'}">Projects</a>
    <span>|</span>
    <a href="http://github.com/phantomcosmonaut" target="_blank">Github</a>
</nav>
<div id="header-wrapper" (click)="toggle(false)"
    [ngClass]="{'open-border': this.isOpen, 'closed-border': !this.isOpen}">
    <div id="nav-border">
    </div>
    <div id="header-pulldown">
        <div class="trapezoid">
        </div>
        <div id="tagline">
            <span>Explore</span>
        </div>
    </div>
</div>
<div id="content" (click)="toggle(true)">
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
</div>